<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head><meta charset="UTF-8"><title>Edit Quiz</title><link rel="stylesheet" th:href="@{/css/style.css}"></head><body>
<h1>Edit Quiz Question</h1>
<form th:action="@{/quiz/editQuiz/{id}(id=${question.id})}" th:object="${question}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label>Question <textarea th:field="*{questionText}" required></textarea></label><br>
    <div th:each="option, stat : ${question.options}"><label><span th:text="|Option ${stat.index + 1}|"></span> <input th:name="|options[${stat.index}]|" th:value="${option}" required></label><br></div>
    <label>Correct answer <input th:field="*{correctAnswer}" required></label><br>
    <button type="submit">Update quiz</button>
</form><a th:href="@{/quiz/quizList}">Cancel</a>
</body></html>
